<!DOCTYPE html>
<html>
<head>
	<title>Live School</title>
	<style type="text/css">
		button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
	
	h1{
		text-align: center;
	}
button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.adminbtn {
    padding: 14px 20px;
    background-color: green;
}

/* Float cancel and admin buttons and add an equal width */
.adminbtn {
  float: left;
  width: 100%;
}
	</style>
</head>
<body>
	<h1>Admin Work</h1>
<form action = "adminindex" method="POST">
	{% csrf_token %}
	 <div class="clearfix">	 	
      <button type="admin" class="adminbtn" name="enstudent"><b><h3>Enroll Student</h3></b></button>
    </div><br><br><br><br>
     <div class="clearfix">	 	
      <button type="admin" class="adminbtn" name="enteacher"><b><h3>Enroll Teacher</h3></b></button>
    </div><br><br><br><br>
     <div class="clearfix">	 	
      <button type="admin" class="adminbtn" name="markupdate"><b><h3>Marks Update</h3></b></button>
    </div><br><br><br><br>
     <div class="clearfix">	 	
      <button type="admin" class="adminbtn" name="attupdate"><b><h3>Mark Attendance</h3></b></button>
    </div><br><br><br><br>
     <div class="clearfix">   
      <button type="admin" class="adminbtn" name="setexam"><b><h3>Set An Exam</h3></b></button>
    </div><br><br><br><br>
      <button type="admin" class="adminbtn" name="adddept"><b><h3>Add a department</h3></b></button>
    </div><br><br><br>
     <button type="admin" class="adminbtn" name="addcourse" onclick="myfunction()"><b><h3>Add a course</h3></b></button>
    </div><br><br><br><br>
    <div class="clearfix">   
      <button type="admin" class="adminbtn" name="viewAttendance"><b><h3>View Attendance</h3></b></button>
    </div><br><br><br><br>
    <div class="clearfix">   
      <button type="admin" class="adminbtn" name="addSubjects"><b><h3>Add Subjects</h3></b></button>
      <!-- <script type="text/javascript">
    alert('{{message}}')
  </script> -->
    </div><br><br><br><br>
    <script type="text/javascript">
      
        var data = {{json|safe}}
        /*console.log(JSON.stringify(data))
        alert(JSON.stringify(data))*/

        if(data.isPresent == 0){
          alert(data.message)
        }
        else if(data.isPresent == 1){
          alert(data.message)
        }
  
    </script>
    <!-- <div class="clearfix">   
      <button type="admin" class="adminbtn" name="deleteStudent"><b><h3>Delete a student</h3></b></button>
    </div><br><br><br><br> -->
</form>
</body>
</html>