<html>
	<head>
		<style type="text/css">
			.error {
    background-color: yellow;
    text-align: center;
    color: #af4c4c;
    height: 38px;
    font-size: 33px;
    font-family: "Times New Roman", Times, serif;
}
		</style>
	</head>
	<body>
		<form action="dept" method="POST">{% csrf_token %}
		<!-- <label for="deptid1"><b>Department Id</b></label>
		<input type="text" placeholder="Dept id" name="deptid1" required>

    	<label for="deptname1"><b>Department Name</b></label>
    	<input type="text" placeholder="Enter name of department" name="dept1" required>

    	<label for="deptid2"><b>Department Id</b></label>
		<input type="text" placeholder="Dept id" name="deptid2" required>

    	<label for="deptname2"><b>Department Name</b></label>
    	<input type="text" placeholder="Enter name of department" name="dept2" required>
 -->
 		<div id='TextBoxesGroup'>
  
 			  <div class='try1'>
  {% if messages %}
<div class='row'> 
{% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
</div>

  <div id="TextBoxDiv1">
    <!-- <label>Department ID : </label><input type='textbox' id='textbox1' name = 'deptid1' required>
    <label>Department Name 1: </label><input type='textbox' id='textbox1' name = 'dept1' required><br><br>
    <label>Department ID : </label><input type='textbox' id='textbox1' name = 'deptid2' required> -->



    <label>Department Name: </label><input type='textbox' id='textbox1' name = 'dept' required><br><br>
  </div>
</div>	


    	<div class="clearfix">
     <!--  <button type="signup" class="cancelbtn" name="cancel">Cancel</button> -->
      <button type="login" class="signupbtn" name = "login" onclick="myfunction()">Submit</button>
    </div>
		</form>


		<script type="text/javascript">
			//var arr = {};
			function myfunction(){
				var data = {{json|safe}}
				/*console.log(JSON.stringify(data))
				alert(JSON.stringify(data))*/

				if(data.isPresent == 0){
					alert(data.message)
				}
				else if(data.isPresent == 1){
					alert(data.message)
				}
			}
			

			//arr.push(id);
		</script>
	</body>
</html>
