<html>
	<head>
		
	</head>
	<body>
		<form action="dept" method="POST">{% csrf_token %}
		<!-- <label for="deptid1"><b>Department Id</b></label>
		<input type="text" placeholder="Dept id" name="deptid1" required>

    	<label for="deptname1"><b>Department Name</b></label>
    	<input type="text" placeholder="Enter name of department" name="dept1" required>

    	<label for="deptid2"><b>Department Id</b></label>
		<input type="text" placeholder="Dept id" name="deptid2" required>

    	<label for="deptname2"><b>Department Name</b></label>
    	<input type="text" placeholder="Enter name of department" name="dept2" required>
 -->
 		<div id='TextBoxesGroup'>
  <div id="TextBoxDiv1">
    <label>Department ID : </label><input type='textbox' id='textbox1' name = 'deptid1' required>
    <label>Department Name 1: </label><input type='textbox' id='textbox1' name = 'dept1' required><br><br>
    <label>Department ID : </label><input type='textbox' id='textbox1' name = 'deptid2' required>
    <label>Department Name 2: </label><input type='textbox' id='textbox1' name = 'dept2' required><br><br>
  </div>
</div>	


    	<div class="clearfix">
     <!--  <button type="signup" class="cancelbtn" name="cancel">Cancel</button> -->
      <button type="login" class="signupbtn" name = "login">Submit</button>
    </div>
		</form>


		<script type="text/javascript">
			//var arr = {};
			var id = [1,2,3,4]
			//arr.push(id);
		</script>
	</body>
</html>
