<html>
<head>
<title>Dynamic Form</title>
<!-- <script language="javascript">
function changeIt()
{
var i = 2;
my_div.innerHTML = my_div.innerHTML +"<br>Enter Roll No :<input type='text' name='roll'+ i> Enter Marks : <input type='text' name='marks'+ i>"
}
</script> -->
</head>
<body>
<form name="form" action="marks" method="POST">
	{% csrf_token %}
Enter Roll No :<input type="text" name="roll">   Enter Marks<input type="text" name="marks">
<!-- <input type="button" value="test" onClick="changeIt()"> -->
<input type = "submit" name = "submit" value = "Submit"></input>
<div id="my_div"></div>
<p id = "print"></p>
</form>

<!-- <script>
function myFunction() {
    var result = document.getElementById("SearchText").value;
    var data = JSON.parse("{{context|escapejs}}")
    /*var name = [];
    for(var i=0;i<data.length;i++){
    	name[i] = data[i]["pk"]
    }*/
	document.getElementById("print").innerHTML = data;
}
</script> -->


</body>
</html>