<html>
<head>
<title>Teacher Information</title>
</head>
<body>

	<h2>Teacher Information</h2>
	<!-- <p id="haha"></p> -->
<hr>
	Name : 
<p id="demo1"></p><br>
	Department : 
<p id="demo2"></p><br>
	Course : 
<p id="demo3"></p><br>
	Semester : 
<p id="demo4"></p><br>
	Subj : 
<p id="demo5"></p><br>
	Div : 
<p id="demo6"></p><br>

<script>
//var myJSON = '{"name":"Vivek", "dept":"Information Technology", "course":"UG","semester":7,"attendence":84.45,"marks":83.88}';;
//var myObj = JSON.parse(myJSON);
var data = {{teacherName|safe}}
var myObj = {{json|safe}}

// x1 = myObj.name;
// x2 = myObj.dept;
// x3 = myObj.course;
// x4 = myObj.semester;
// x5 = myObj.attendence;
// x6 = myObj.marks;
//document.getElementById("haha").innerHTML = JSON.stringify(myObj,null,2);
document.getElementById("demo1").innerHTML = data[0]["fields"]["teacher_name"];
document.getElementById("demo2").innerHTML = myObj[0]["fields"]["dept"]
document.getElementById("demo3").innerHTML = myObj[0]["fields"]["course"];
document.getElementById("demo4").innerHTML = myObj[0]["fields"]["sem"];
document.getElementById("demo5").innerHTML = myObj[0]["fields"]["subj"];
document.getElementById("demo6").innerHTML = myObj[0]["fields"]["div"];

</script>
</body>
</html>